# Python files
*.py[cod]
__pycache__/

# Simulation results except the README in default folder and some results for
# default control simulations
SPARCED/results/*
!SPARCED/results/New-Simulation
!SPARCED/results/Control
SPARCED/results/New-Simulation/*
!SPARCED/results/New-Simulation/README.md

old*
*.ipynb_check*
.nextflow*
vers
pod.yaml
dock.sh
z
*_pycache_*
SPARCED/*xlsx
cleanH
work/
ToDo*
