process {
  container = 'ebensma/sparced:latest'
	shell = ['/bin/bash','-e']
}

docker.enabled = true

k8s {
	storageClaimName = "deepgtex-prp"
	storeageMountPath = "/workspace/ethan"
	launchDir = "/workspace/ethan"
  workDir = "/workspace/ethan/work"
}

params {
  input_dir = '/workspace/ethan/input_data/'
  sweep = 'Species:m_PDGFB:IC_Xinitialized:0,0.395'
}
