process {
  container = 'ebensma/sparced:latest'
	shell = ['/bin/bash','-e']
}

docker.enabled = true

k8s {
	storageClaimName = "deepgtex-prp"
	storeageMountPath = "/workspace/ebensma"
	launchDir = "/workspace/ebensman"
  workDir = "/workspace/ebensman/work"
}

params.input_dir = '/workspace/ebensman/input_data/'
