standard {
  process {
    container = 'ebensma/sparced:latest'
  	shell = ['/bin/bash','-e']
  }

  docker.enabled = true

  params {
    input_dir = '/home/ethan/code/workspaces/SPARCED-nf/input_data/'
    sweep = ''
    deterministic = 1
    time = 2
    feedTime = 30
    numCells = 1
    Vn = '1.75E-12'
    Vc = '5.25E-12'
    speciesVals = 'HGF:70-80(10),E:1721.0,P:0.4-0.6(0.2),INS:100'
  }
}

cloud {
  process {
    container = 'ebensma/sparced:latest'
  	shell =process {
    container = 'ebensma/sparced:latest'
  	shell = ['/bin/bash','-e']
  }

  docker.enabled = true

  k8s {
  	storageClaimName = "deepgtex-prp"
  	storeageMountPath = "/workspace/ethan"
  	launchDir = "/workspace/ethan"
    workDir = "/workspace/ethan/work"
  }

  params {
    input_dir = '/workspace/ethan/input_data/'
    sweep = ''
    deterministic = 1
    time = 2
    feedTime = 30
    numCells = 1
    Vn = '1.75E-12'
    Vc = '5.25E-12'
    speciesVals = 'HGF:70-80(10),E:1721.0,P:0.4-0.6(0.2),INS:100'
  } 
}
