k8s {
  storageClaimName = "deepgtex-prp"
  storeageMountPath = "/workspace/ebensman"
  launchDir = "/workspace/ebensman"
  workDir = "/workspace/ebensman/work"
}

params {
  input_dir = '/workspace/ebensman/input_data/'
  deterministic = 1
  time = 2
  feedTime = 30
  Vn = '1.75E-12'
  Vc = '5.25E-12'
  speciesVals = 'HGF:0-500(500),E:1721.0,P:0-200(200),INS:100'
  ratelawVals = ''
  numCells = 4
}
